@page "/"

<h1>SpaInspector</h1>

<p>
  <InputFile OnChange="@OnInputFileChange" multiple/>
</p>

@if (spectraList.Count > 0)
{
  <h4>Spectras</h4>

  @foreach (var spectra in spectraList)
  {
    <SpectraView Spectra="@spectra"/>
  }
}
else if (loading)
{
  <p>Loading SPA files...</p>
}
else
{
  <p>Please select one or more SPA files</p>
}

@code {

  private readonly IList<Spectra> spectraList = new List<Spectra>();
  private bool loading;

  private async Task OnInputFileChange(InputFileChangeEventArgs e)
  {
    const int maxAllowedFiles = 300;
    spectraList.Clear();
    loading = true;
    foreach (var spaFile in e.GetMultipleFiles(maxAllowedFiles))
    {
      var stream = spaFile.OpenReadStream();
      var buffer = new byte[stream.Length];
      await stream.ReadAsync(buffer);
      var spectra = new Spectra(buffer);
      spectraList.Add(spectra);
    }

    loading = false;
  }

}
