@page "/"
@using System.IO
@using System.Globalization
@using SpaInspectorReader


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/graph.jpg" alt="SpaInspector">
  <div class="card-body">
    <h5 class="card-title">SpaInspector</h5>
    <p class="card-text">Inspect SPA or SPG files in easy way.</p>
    <a class="btn btn-dark" href="/spainspector">Try it <br />
    </a>
  </div>
</div>

